<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <style>
        body {
            background-color: green;
        }
        .container {
            margin-top: 15%;
            margin-left: 30%;
            
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Recuperação de Senha</h2>
        <p>Olá,</p>
        <p>Recebemos uma solicitação para recuperar sua senha. Se você não fex essa solicitação, ignore este e-mail.</p>
        <p>Para redefinir sua senha, utilize a senha temporaria abaixo: </p>

        <h4>{{novaSenha}}</h4>

        <p>Obrigado</p>

        <div class="footer">
            <p>Se você tiver algum problema, entre em contato com nossa equipe de suporte.</p>
        </div>
    </div>
</body>
</html>